/* CSS files add styling rules to your content */

html {
  background-color: #f2542d;
  display: grid;
  margin: auto;
  width: 75%;
}

body {
  max-width: 950px;
  min-width: 650px;
  background-color: #f2542d;
  margin: 25px;
  padding: 5px;
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
}

header {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
}

#top_image {
  width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: acier-bat-noir, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.assignments {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
}

hr {
  margin: 5px;
  padding: 0px;
  border: 2.5px solid #562c2c;
}

.assignments ul {
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
}

footer {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
}

footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer_1st {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#footer_2nd {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}
