/* CSS files add styling rules to your content */

html {
  background-color: #f2542d;
  margin: auto;
  max-width: 950px;
  min-width: 550px;
}

body {
  background-color: #f2542d;
  margin: 25px;
  padding: 5px;
  font-family: pinot-grigio-modern, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
}

header {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#top_heading {
  font-size: 2.5em;
  flex-grow: 1;
  text-align: center;
}

#top_image {
  margin: 5px;
  width: 225px;
  flex-basis: 25%;
  flex-grow: 0.5;
  box-shadow: 5px 5px #0E9594, 10px 10px #127475;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: acier-bat-noir, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.assignments {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
}

hr {
  margin: 5px;
  padding: 0px;
  border: 2.5px solid #562c2c;
}

.assignments ul {
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
}

footer {
  background-color: #f5dfbb;
  margin: 5px;
  padding: 15px;
  border: 2px solid #f2542d;
  border-radius: 10px;
}

footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

footer ul li {
  margin: 5px;
}

#footer_1st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#footer_2nd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#last_update {
  text-align: center;
}